/log/*
!/log/.keep

/tmp/*
!/tmp/.keep
!/tmp/pids/.keep
/tmp/cache/
/tmp/pids/
/tmp/restart.txt
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

/config/master.key

/.bundle
/vendor/bundle

*.log
*.swp
*.swo
*~

.DS_Store

.env
.env.local
.env.*.local

/public/assets
/public/packs
/public/packs-test

/node_modules

/coverage/
/spec/tmp/

*.sqlite3
*.sqlite3-*

.byebug_history
.idea/
.vscode/
